<div class="container">
	<h1>Welcome to Mock Trello</h1>
	<h2>Capstone Project for TTS Spring 2015</h2>
	<div class="col-med-4">
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Scenester meggings gentrify lo-fi, narwhal ethical master cleanse put a bird on it mumblecore quinoa squid Neutra synth. Kogi Pinterest salvia single-origin coffee lomo typewriter. Typewriter whatever disrupt readymade, Cosby sweater squid trust fund Godard kale chips Williamsburg. Bespoke flannel whatever, hoodie cliche quinoa American Apparel single-origin coffee farm-to-table squid Tonx aesthetic pug. Church-key McSweeney's pop-up, forage tattooed Pitchfork hoodie craft beer viral locavore master cleanse cray. Cosby sweater paleo shabby chic, keytar hella Blue Bottle distillery skateboard flexitarian art party heirloom beard. Fingerstache forage bitters craft beer quinoa, Kickstarter gastropub.</p>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		
    <div class="col-md-4">
      <p>Authentic typewriter you probably haven't heard of them normcore, sustainable hoodie Thundercats heirloom squid craft beer Schlitz. Ugh biodiesel Pitchfork mixtape High Life. Put a bird on it selvage bicycle rights paleo.</p>
    </div>

    <div class="col-md-4">
        <p>Authentic typewriter you probably haven't heard of them normcore, sustainable hoodie Thundercats heirloom squid craft beer Schlitz. Ugh biodiesel Pitchfork mi</p>
    </div>

    <div class="col-md-4">
      <p>Authentic typewriter you probably haven't heard of them normcore, sustainable hoodie Thundercats heirloom squid craft beer Schlitz. Ugh biodiesel Pitchfork mi</p>
    </div>

  </div>
</div> 